<div class="box-form">
    <h3>REGISTER</h3>  <!-- Form title -->
    <hr style="border-color: #7E7B7C">  <!-- Styled horizontal line -->

    <form action="{% url 'cadastro' %}" method="POST">  <!-- Form with action to 'cadastro' URL and POST method -->
        {% csrf_token %}  <!-- CSRF token for protection against CSRF attacks -->

        {% if messages %}  <!-- Check if there are messages to display -->
            {% for msg in messages %}  <!-- Loop through messages -->
                <div class="alert {{ msg.tags }}" role="alert">  <!-- Div to display message with dynamic CSS class -->
                    {{ msg }}  <!-- Display the message -->
                </div>
            {% endfor %}
        {% endif %}

        <label>Username:</label>  <!-- Label for username input -->
        <input type="text" class="form-control" placeholder="Username..." name="username">  <!-- Username input field -->
        <br>

        <label>Email:</label>  <!-- Label for email input -->
        <input type="email" class="form-control" placeholder="Email..." name="email">  <!-- Email input field -->
        <br>

        <div class="row">
            <div class="col-md">
                <label>Password:</label>  <!-- Label for password input -->
                <input type="password" class="form-control" placeholder="Password..." name="senha">  <!-- Password input field -->
            </div>

            <div class="col-md">
                <label>Confirm Password:</label>  <!-- Label for confirm password input -->
                <input type="password" class="form-control" placeholder="Confirm Password..." name="confirmar_senha">  <!-- Confirm password input field -->
            </div>
        </div>

        <a href="#" class="link">Already have an account</a>  <!-- Link for users who already have an account -->
        <br>
        <br>

        <input type="submit" value="REGISTER" class="btn-principal">  <!-- Submit button to register -->
    </form>
</div>
