{% extends 'base.html' %}  <!-- Extend the base.html template -->

{% load static %}  <!-- Load the static template tag library -->

{% block head %}  <!-- Override the head block from the base template -->

    {% block importacoes %}{% endblock %}  <!-- Additional imports block (optional) -->

    <!-- Link to custom CSS files -->
    <link href="{% static 'evento/css/evento.css' %}" rel="stylesheet">  <!-- Link to evento.css -->
    <link href="{% static 'usuarios/css/usuarios.css' %}" rel="stylesheet">  <!-- Link to usuarios.css -->

{% endblock %}  <!-- End of head block -->

{% block body %}  <!-- Override the body block from the base template -->

    <!-- Navbar section -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary navbar-color" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Type.Event</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <!-- Dropdown menu for 'Empresa' -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Empresa
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'novo_evento' %}">Criar novo evento</a></li>
                            <li><a class="dropdown-item" href="{% url 'gerenciar_evento' %}">Gerenciar eventos</a></li>
                        </ul>
                    </li>

                    <!-- Dropdown menu for 'Cliente' -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Cliente
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="">Meus eventos</a></li>
                            <li><a class="dropdown-item" href="{% url 'meus_certificados' %}">Meus certificados</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div style="min-height: 60vh">  <!-- Main content section with minimum height -->

        {% block conteudo %}  <!-- Override the conteudo block from the base template -->

        {% endblock %}  <!-- End of conteudo block -->

    </div>

    <div class="fundo-pagina">  <!-- Bottom section of the page -->

    </div>

{% endblock %}  <!-- End of body block -->
