{% extends 'base_evento.html' %}  <!-- Extend the base_evento.html template -->

{% block 'conteudo' %}  <!-- Block for main content -->
    <br>
    <br>
    <div class="container">  <!-- Bootstrap container -->
        <div class="row">  <!-- Bootstrap row -->
            <div class="col-md-3">  <!-- Bootstrap column for event details -->
                <img width="100%" src="{{ evento.logo.url }}">  <!-- Display event logo -->
                <br>
                <br>
                <h3>{{ evento.nome }}</h3>  <!-- Display event name -->
            </div>
            <hr>  <!-- Horizontal line for separation -->

            <div class="col-md-6">  <!-- Bootstrap column for event description -->
                <h5>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</h5>
                <!-- Static text (dummy text) describing the event -->
                <br>
                <p>{{ evento.data_inicio }} a {{ evento.data_termino }}</p>
                <!-- Display event start and end dates -->

                {% if request.user in evento.participantes.all %}  <!-- Check if current user is already a participant -->
                    <input style="border-color: green;" type="submit" class="btn-principal" value="JÁ ESTÁ PARTICIPANDO" disabled>
                    <!-- Display disabled button indicating user is already participating -->
                {% else %}
                    <form action="{% url 'inscrever_evento' evento.id %}" method="POST">{% csrf_token %}
                        <!-- Form to submit participation request -->
                        <input type="submit" class="btn-principal" value="QUERO PARTICIPAR">  <!-- Button to participate -->
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
